PORT=3000
CLIENT_URL=https://email-campaign-system-mpg3-k9bltfvfy-megalith2026.vercel.app
EMAIL_USER=holden.campaigns@gmail.com
EMAIL_PASS=vidh gnnk oodd eqkm
MONGO_URI=mongodb+srv://poojithabhanuathm_db_user:poojitha2705@cluster0.zwksiyl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
REDIS_HOST=redis-16259.crce276.ap-south-1-3.ec2.cloud.redislabs.com
REDIS_PORT=16259
REDIS_USERNAME=default
REDIS_PASSWORD=jJf1EdCphZ6AxOzywwL4zvyodjtrzS4l